################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpTipsAndTricks_102024/.vs/CSharpTipsAndTricks_102024
/CSharpTipsAndTricks_102024/Logic/obj
/CSharpTipsAndTricks_102024/ExistsOverAny/bin
/CSharpTipsAndTricks_102024/ExistsOverAny/obj
/CSharpTipsAndTricks_102024/Logic/bin
/CSharpTipsAndTricks_102024/FrozenCollections/bin/Release/net8.0
/CSharpTipsAndTricks_102024/FrozenCollections/obj
/CSharpTipsAndTricks_102024/Chunks/obj
/CSharpTipsAndTricks_102024/.vs/ProjectEvaluation
/CSharpTipsAndTricks_102024/Chunks/bin/Release/net8.0
/CSharpTipsAndTricks_102024/DedicatedLock/bin/Release/net9.0
/CSharpTipsAndTricks_102024/DedicatedLock/obj
/CSharpTipsAndTricks_102024/RequiredKeyword/obj
